<%- include('../partials/head') %>
<body>
    <a id="home" href="/">Home</a>
    <h1>All of My Skills</h1>
    <ul>
      <% skills.forEach(function(t) { %>
        <li>
          <a href="/skills/<%= t.id %>"><%= t.skill %></a>
            -
          <%= t.complete ? 'Achieved' : 'Not Achieved Yet' %>
        </li>
      <% }); %>
    </ul>
</body>
</html>