<%- include('../partials/head') %>

<form action="/skills" method="POST">
    <input type="text" name="skill">
    <button type="submit" class="skill-btn">Save Skill</button>
</form>  

<%- include('../partials/footer') %>